<div class="d-flex align-items-center justify-content-between py-2 px-3 mb-3 bg-white border-bottom box-shadow">
    <ul class="nav">
        <li class="nav-item">
            <h5 class="my-0 mr-md-auto font-weight-bold">
                <a class="nav-link text-dark px-0" [routerLink]="['/']">
                    COMP308
                </a>
            </h5>
        </li>

        <li class="nav-item" *ngIf="user">
            <a class="nav-link text-dark px-3" *ngIf="user.type == 'Nurse'" [routerLink]="['/emergency/check']">Emergency Check</a>
        </li>

        <li class="nav-item" *ngIf="user">
            <a class="nav-link text-dark px-3" *ngIf="user.type == 'Patient'" [routerLink]="['/emergency/registration']">Emergency Registration</a>
        </li>

        <li class="nav-item" *ngIf="user">>
            <a class="nav-link text-dark px-3" *ngIf="user.type == 'Patient'" [routerLink]="['/tips']">Daily Motivation</a>
        </li>
    </ul>

  <div *ngIf="user">
    <a class="btn text-dark" href="#">Hello <strong>{{user.firstName}}</strong></a>
    <a class="btn btn-outline-primary" href="/api/auth/signout">Sign Out</a>
  </div>
</div>

<main role="main" class="container-fluid">
  <h1 class="mt-5">
    <i class="fas fa-hand-holding-heart mr-1"></i>
    Daily Motivational Tip
  </h1>

<!-- <ul>
    <li *ngFor="let article of articles">
        <a [routerLink]="['/articles', article._id]">{{article.title}}</a>
        <br>
        <small>{{article.created}}/{{article.creator.fullName}}</small>
        <p>{{article.content}}</p>
    </li>
</ul> -->
<!-- <div *ngIf="articles && articles.length === 0"> -->
  <a [routerLink]="['/tips/create']" class="btn btn-primary mt-3 text-white">Create new tip</a>
<!-- </div> -->
</main>