<div class="d-flex align-items-center justify-content-between py-2 px-3 mb-3 bg-white border-bottom box-shadow">
  <ul class="nav">
    <li class="nav-item">
      <h5 class="my-0 mr-md-auto font-weight-bold">
        <a class="nav-link text-dark px-0" [routerLink]="['/']">
          COMP308
        </a>
      </h5>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark px-3" [routerLink]="['/users']">List of Patient</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark px-3" [routerLink]="['/records']">Patient Records</a>
    </li>
  </ul>

  <div *ngIf="user">
    <a class="btn text-dark" href="#">Hello <strong>{{user.firstName}}</strong></a>
    <a class="btn btn-outline-primary" href="/api/auth/signout">Sign Out</a>
  </div>
</div>

<main role="main" class="container-fluid">
  <h2>All Records</h2>

  <table class="table table-bordered mt-4">
    <thead>
      <tr class="bg-info text-white">
        <th>Patient</th>
        <th>Body Temperature</th>
        <th>Blood Pressure</th>
        <th>Pulse Rate</th>
        <th>Respiratory Rate</th>
        <th>Updated By</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let article of articles">
        <td><a [routerLink]="['/records', article._id]">{{article.creator.fullName}}</a></td>
        <td>{{article.bodyTemperature}}</td>
        <td>{{article.bloodPressure}}</td>
        <td>{{article.pulseRate}}</td>
        <td>{{article.respiratoryRate}}</td>
        <td>{{article.creator.fullName}}</td>
      </tr>
    </tbody>
  </table>

</main>



